h1 { font-family: Matura MT Script Capitals; font-size: 72px; font-style: italic; text-align: center; border-style: solid; border-width: 16px; border-radius: 56px; background-color: red;}
p { font-family: Arial ; padding: 12px; font-size: 22px; text-align: center;}
li { font-family: Arial ; padding: 6px; font-size: 22px; text-align: left;}
body { background-color: #d67560; }
img { border-style: solid; border-width: 16px; border-radius: 32px; border-color: black;}